.competencyWrapper {
  height: 12.5rem;
}

.imageWrapper {
  position: relative;
  background-color: var(--color-bg-secondary);
  border-radius: var(--spacing-3);
  border: 0.0625rem solid var(--color-border);
}

.title {
  margin-bottom: var(--spacing-2);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.description {
  font-size: var(--font-size-md);
  line-height: 1.6;
}