.container {
  display: flex;
  position: relative;
  padding-top: 3.75rem;
}

.main {
  width: 100%;
  max-width: 48rem;
  min-height: calc(100vh - 3.75rem);
  margin: 0 auto;
  padding: 0 var(--spacing-8);
  background-color: var(--color-bg-primary);
}