.article {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.thumbnailWrapper {
  max-width: 36rem;
  margin: 0 auto var(--spacing-8);
}

.title {
  font-size: var(--font-size-xxl);
}

.header {
  margin-bottom: var(--spacing-12);
  padding-bottom: var(--spacing-3);
  border-bottom: 0.0625rem solid var(--color-border);
}