.page {
  flex: 1;
  position: relative;
  max-width: 75rem;
  min-height: 100vh;
  margin: 0 auto;
}

.darkModeBtnWrapper {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: var(--font-size-xl);
}