.container {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  width: 100%;
  padding: 0 1rem;
}

.divider {
  width: calc(100% - 1.5rem);
  height: 0.0625rem;
  margin: 1rem 0.75rem 2rem;
  background-color: var(--color-border);
}

.category {
  font-size: 1.5rem;
}

.techStackContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  row-gap: 1rem;
  padding: 2rem 0.75rem;
}

.techStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 5rem;
  text-align: center;
}

.imageWrapper {
  padding: 0.5rem;
  background-color: var(--color-bg-secondary);
  border-radius: 0.5rem;
  overflow: hidden;
}

.skillName {
  line-height: 1.25;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}