.nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  padding: 0 var(--spacing-5);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  height: 3.75rem;
}

.hamburger {
  padding: var(--spacing-1);
  border-radius: var(--radius-sm);
}

.hamburger:hover {
  background-color: var(--color-bg-secondary);
}

.logoWrapper {
  padding: 0 var(--spacing-3);
}

.logoWrapper, .logoWrapper:hover {
  color: var(--color-text-primary);
}

.sidebar {
  width: 16rem;
  padding: 0 var(--spacing-5);
}

.overlay {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
}

@media (max-width: 63.999rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: var(--color-bg-primary);
    z-index: 101;
  }


}